<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBank</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="/">iBank</a></div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <h1>Welcome to iBank</h1>
        <p>Choose your login portal:</p>
        <div class="admin card">
            <div class="card_left">
                <img src="/static/images/admin.jpeg">
                <p>Admin</p>
            </div>

            <a href="/admin_login/">Login</a>
        </div>
        <div class="customer card">
            <div class="card_left">
                <img src="static/images/customers.jpg">
                <p>Customer</p>
            </div>

            <a href="/customer_login/">Login</a>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 iBank. All rights reserved.</p>
    </footer>
</body>
</html>